Flask
Flask-Session
PyPDF2
python-docx
docx2txt
langchain
google-generativeai
faiss-cpu
python-dotenv
requests
beautifulsoup4
Werkzeug
neo4j
spacy
py2neo
sentence-transformers
transformers
pydantic
pandas
asyncio
